/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/




.slider-caption h2 {
	font-size: 3rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 0;
}

.content-wrap {
	padding-top: 20px;
}

.mfp-content {
	width: 80%;
}

#header.static-sticky ~ #page-menu.sticky-page-menu #page-menu-wrap { top: 100px; }